<template>
  <v-layout wrap style="font-family: '%%font_family%%', sans-serif;">
    <v-flex xl2 offset-xl10>
        <span style="color: gray">Updated: {{ updated }}</span>
    </v-flex>

    <v-flex xs12 xl12>
        <h1>Blog</h1>
    </v-flex>

    <v-flex v-for="(blog, index) in blogs" :key="index" xs12>
        <v-hover v-slot:default="{ hover }">
            <v-card class="card-margin rounded-card" :color="theme.blog_cards" :max-width="card_width()" :elevation="hover ? 12 : 2" :href="blog.url" target="_blank">
                <v-container fluid>
                    <v-row align="stretch" no-gutters>
                        <v-col cols="8">
                            <v-row no-gutters>
                                <v-card-title>
                                    {{ blog.title }}
                                </v-card-title>

                                <v-card-text>
                                    {{ blog.description }}
                                </v-card-text>
                            </v-row>
                        </v-col>
                        <v-col cols="4">
                            <v-row align="center" justify="center" style="height: 200px" no-gutters>
                                <v-img src="http://source.unsplash.com/N9s3FjzsstM" aspect-ratio="1.0" style="max-height: 200px"></v-img>
                            </v-row>
                        </v-col>
                    </v-row>
                </v-container>
            </v-card>
        </v-hover>
    </v-flex>
</v-layout>
</template>
<script>
</script>
<style>
</style>
