<template>
<v-layout
column
justify-center
align-center
>
  <v-flex
  xs12
  sm8
  md6
  >
    <div>
      <masonry
      :cols="{default: 4, 1000: 3, 500: 2, 300: 1}"
      :gutter="{default: '30px', 400: '15px'}"
      >
      <div
      v-for="item of selectedItems"
      :key="item.id"
      >
      <p>
      {{item.Product_tag}}
      </p>
      <v-card>
        <v-img
        :src="item.Product_image"
        ></v-img>
      </v-card>
      <p>
      {{item.Product_caption}}
      </p>
      <button
      @click.prevent="addItemToCart(item.id)"
      v-if="!item.isReserved"
      class="shopbtn"
      >addToCart</button>
      <span
      v-else="item.isReserved"
      disabled="disabled"
      >AddedToCart</span>
      </div>
      </masonry>

    </div>
  </v-flex>
</v-layout>


</template>

<script>
import { mapMutations, mapGetters } from 'vuex'
import { itemMixin } from '@/assets/items-methods'

export default {
  mixins: [itemMixin],
  data: () => ({
    selectedCategory: 'all'
  }),
  computed: {
    ...mapGetters({ loadedItems: 'items/items' }),
    items() {
      return this.loadedItems
    },
    categories() {
      return this.makeUniqueCategories()
    },
    selectedItems() {
      if (this.selectedCategory === 'all') return this.items
      return this.items.filter((el) => el.category === this.selectedCategory)
    }
  },
  // https://nuxtjs.org/api/pages-fetch/
  async fetch({ store }) {
    if (store.getters['items/items'].length === 0) {
      await store.dispatch('items/fetch')
    }
  },
  methods: {
    ...mapMutations({ addToCart: 'items/addToCart' }),
    addItemToCart(id) {
      this.addToCart(id)
    },
    showItems(item) {
      this.selectedCategory = item
    }
  }
}
</script>
<style>
.shopbtn{
  position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #39ff14;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}
.shopbtn:hover {
  background: #39ff14;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #39ff14,
              0 0 25px #39ff14,
              0 0 50px #39ff14,
              0 0 100px #39ff14;
}

</style>
