<template>
<div>


      <v-card
        tile
        flat
        v-bind="$attrs"
        v-on="$listeners"
      >
      <v-carousel

      cycle
      hide-delimiter-background
      delimiter-icon="mdi-heart"
      :show-arrows="false"

      >
        <v-carousel-item
        reverse-transition="fade-transition"
        transition="fade-transition"
        contain
        aspect-ratio="2"
          v-for="image in images"
          :key="image.id"
          :src="image.imageUrl"
          >


            <div class="title">
              {{ image.title }}
            </div>

            <v-layout
              fill-height
              align-center
              pa-3
            >
              <v-flex
                md7
                xs12
                sm12
                md4
                offset-md5
              >
                <h1  class="display-3 font-weight-light red--text">
                WineGarage
                </h1>
                <div class=" pink--text subheading text-uppercase pl-2 mb-4">
                  Welcome To Your Home Of Wines And Liquor
                </div>
                <v-btn
                  color="primary"
                  depressed
                  rounded
                  to="/shop"
                >
                  ShopNew
                </v-btn>
              </v-flex>
            </v-layout>
        </v-carousel-item>
      </v-carousel>

      </v-card>







</div>





</template>
<script>
export default{
  name:'homecarousel',
  data () {
      return {
        images: [
          { imageUrl: 'http://source.unsplash.com/A3dfGW1jNWE', id: '11', title: 'Thoughtful Pours' },
          { imageUrl: 'http://source.unsplash.com/x930eslnS9Y', id: '12', title: 'Chardonnay' },
          { imageUrl: 'http://source.unsplash.com/35R2-iOTmks', id: '13', title: 'Wide Range of Wines And Liquor' },
          { imageUrl: 'http://source.unsplash.com/mywpSE9_ZBo', id: '14', title: 'Mobile Bar' },
          { imageUrl: 'http://source.unsplash.com/MwBl7-Meqao', id: '15', title: 'Best Prices Always' },
        ]
      }
    },

  inheritAttrs: false
}
</script>
