<template>
    <v-container grid-list-lg>
        <v-layout row>
            <v-flex xs12 white--text class="text-xs-center display-1 font-weight-white my-5">Our CEO Recommendations</v-flex>
        </v-layout>
        <v-layout
        row
        wrap
         >
            <v-flex
            xs12
            sm12
            md4
            >
                <v-card  color="#000000">
                    <v-responsive>
                        <v-img src="http://source.unsplash.com/xVU5bzLF4FQ" height="500px">
                            <v-container fill-height fluid>
                                <v-layout fill-height>
                                    <v-flex xs12
                                     align-end
                                      flexbox>
                                        <span class="headline black--text">Wine Garage</span>
                                    </v-flex>
                                    <v-btn
                                    color="primary"
                                    depressed
                                    rounded
                                    to="/shop"
                                    >shopnow<v-icon>mdi-basket</v-icon></v-btn>
                                </v-layout>
                            </v-container>
                        </v-img>
                    </v-responsive>

                    <v-card-text>
                        <div>
                            <h3 class="headline mb-0">New Arrivals Wines And Spirits</h3>
                            <div>

                            </div>
                        </div>
                    </v-card-text>



                </v-card>
                <p data-aos="slide-up" data-aos-easing="ease" class="black--text">
         WineGarage Mobile Bar-solution offers outside catering with love, we have inculcated ourselves into the Ugandan culture, which enables us to provide prolific and unique products and solutions.

Drinks are an integral part of any occasion, celebration, event. Your beverage selection and serving mode could thus make or break your event
        </p>
            </v-flex>



            <v-flex xs12 sm12 md4>
                <v-card color="#000000">
                    <v-responsive>
                        <v-img src="http://source.unsplash.com/SzhOylIlA8o" height="500px">
                            <v-container fill-height fluid>
                                <v-layout fill-height>
                                    <v-flex xs12 align-end flexbox>
                                        <span class="headline black--text">
                                         Hungurian Grape Wines 
                                        </span>
                                        <v-btn
                                        color="primary"
                                        depressed
                                        rounded
                                        to="/shop"
                                        >shopnow <v-icon>mdi-basket</v-icon></v-btn>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-img>
                    </v-responsive>

                    <v-card-text>
                        <div>
                            <h3 class="headline mb-0">Comes With Free ArtPiece</h3>
                            <div>
                            </div>
                        </div>
                    </v-card-text>


                </v-card>
                <p data-aos="slide-up" data-aos-easing="ease" class="black--text">
                  Our 30 Day Fit Guarantee.
                  <br />
 Wine is personal—you deserve to shop with confidence. If you’re not completely happy with your purchase, you have 7 days to return any item for free.
                </p>

            </v-flex>

            <v-flex
            xs12
            sm12
            md4
            class="black--text"
            >
                <v-card color="#000000">
                    <v-responsive>
                        <v-img src="http://source.unsplash.com/n6fz0zYJILU" height="500px">
                            <v-container fill-height fluid>
                                <v-layout fill-height>
                                    <v-flex xs12 align-end flexbox>
                                        <span class="headline black--text">
                                          Lounge Wine And Sleep
                                        </span>
                                        <v-btn
                                        color="primary"
                                        depressed
                                        rounded
                                        to="/wine"
                                        >shopnow <v-icon>mdi-basket</v-icon></v-btn>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-img>
                    </v-responsive>

                    <v-card-text>
                        <div data-aos="fade-up" data-aos-anchor=".anchor">
                            <h3 class="headline mb-0">A Wine Dream Come True </h3>
                            <div>
                            </div>
                        </div>
                    </v-card-text>


                </v-card>
                <p data-aos="zoom-in" data-aos-easing="ease" class="black--text">
                We want to introduce you to a bottle of 16-year-old Lagavulin. Quite an unusual name for an equally unusual drink right? The pungent smoky odor and dry earthy taste can be a shock to your senses. But as strange as it is, the experience will leave you intrigued and slowly luring you back to get better acquainted with the flavorful spirit known as single malt scotch.
                </p>
            </v-flex>

        </v-layout>
    </v-container>
</template>

<script>
export default {
    name: 'shopnow',


}
</script>

<style scoped>
</style>
