<template lang="pug">
section
  h1 Cart
  ul(v-for='item of items', :key='item.id' v-if=('item.isReserved'))
    li
      p {{item.Product_tag}}
      img(:src='item.Product_image' alt="lingerie" class="chipresponsive")
      button(@click.prevent='removeItem(item.id)'
      class="cartbutton"
      ) remove from cart
</template>

<script>
import { mapMutations, mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({ loadedItems: 'items/items' }),
    items() {
      return this.loadedItems
    }
  },
  async fetch({ store }) {
    if (store.getters['items/items'].length === 0) {
      await store.dispatch('items/fetch')
    }
  },
  methods: {
    ...mapMutations({ removeFromCart: 'items/removeFromCart' }),
    removeItem(id) {
      this.removeFromCart(id)
    }
  }
}
</script>
<style>
.cartbutton {
  background-color: #2B1604; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.chipresponsive {
  width: 20%;
  height: auto;
}

</style>
