<template>
  <v-container fluid color="#013208">
    <v-layout  row >
      <v-flex  class="display-2 font-weight-black brown--text text-xs-center my-5">Most Visited Sites In The Pearl👉</v-flex>
    </v-layout>
    <v-layout row  >
      <v-flex >
          <div class="card">
            <div
            v-for="destination in destinations"
            v-bind:key="destination.id"
            >

            <v-flex
            xs12
            sm6
            md12
            lg7
            xl6

            >
              <v-card
              color="#000000"
              raised
              class="rounded-card"
              >


                <v-img
                :src="destination.TravelFile"
                width="600px"
                height="300px"

                >{{destination.TravelFile_tag}}
                rating:{{destination.TravelRating}}
              </v-img>
                <v-card-text>
                  <div class="text-center">
        <v-rating
            v-model="destination.TravelRating"
          color="yellow darken-3"
        ></v-rating>
      </div>

                  {{destination.TravelFile_caption}}
                </v-card-text>


              </v-card>
            </v-flex>



            </div>
          </div>

      </v-flex>
    </v-layout>



  </v-container>
</template>
<script>
import axios from 'axios'
export default{

  data () {
        return {
          destinations: [
            {
              id:'1',
              TravelRating:'4.5',
              TravelFile_tag:'Sunrise in the Savannah',
              TravelFile_caption:'Queen Elizabeth National Park',
              TravelFile:'http://ugtravellers.pythonanywhere.com/media/IMG_20200104_072936.jpg'

            },
            {
              id:'2',
              TravelRating:'4',
              TravelFile_tag:'Africa_Is_The_Future - Kampala City',
              TravelFile_caption:'Capital city where all the business goes down',
              TravelFile:'http://source.unsplash.com/DigT_twYyiU'

            },
            {
              id:'3',
              TravelRating:'4.6',
              TravelFile_tag:'FortPortal Crater lakes',
              TravelFile_caption:'this Place got A Crater Lake every After a Kilometer!!!',
              TravelFile:'http://ugtravellers.pythonanywhere.com/media/IMG_20200102_134606.jpg'

            },
          ]
        }
      },
/*  async asyncData () {
   const { data } = await axios.get('http://127.0.0.1:8000/audio/?AudioFile_owner=2')
   return { audios: data }
 }*/

}
</script>

<style scoped>
.card {display: flex}
.card {
  overflow-x: auto;
  scrollbar-width: none;
}
.card::-webkit-scrollbar {
  display: none;
}

body {
   scrollbar-width: none
}
</style>
