<template>
  <v-container>
    <v-layout>
      <v-flex
      >
        <div>
          <h2>
            Treat Your inbox
          </h2>
          <span data-aos="zoom-in" data-aos-anchor=".anchor">Receive our newsletter on the latest deals and happenings.You can unsubscribe any time you want.Join the community</span>
          <v-text-field
                  outlined
                  label="Email Address"
                ></v-text-field>
                <v-btn color="pink darken-4">subscribe</v-btn>

        </div>
      </v-flex>
    </v-layout>
  </v-container>

</template>
<script>
export default{

}
</script>
