<template>
<div class="container">
  <v-container
    fluid
    grid-list-md
    pa-2
  >
    <v-layout
     align-center
     justify-center
     row
     >
      <v-flex
        xs12
        sm6
        md12
        lg7
        xl6
        offset-sm3
        >
        <v-card
        color="#b5321d"
        raised
        class="rounded-card"
        >
        <v-img :src="'ugtravellers.pythonanywhere.com'+image.TravelFile" height="200px"></v-img>

        <v-card-text>{{image.TravelFile_tag}}</v-card-text>
        </v-img>

        </v-card>


      </v-flex>
    </v-layout>
  </v-container>
</div>

</template>
<script>

export default {
  name:"randomcard",
    props: ["image",],
};
</script>
<style>
.rounded-card{
    border-radius:10px;
}
</style>
