<template>
  <div>
    <social-sharing url="https://vuejs.org/"
                  title="YoloSafaris"
                  description="WE help you find the pearl before others do"
                  quote="Uganda Travels Highs and lows."
                  hashtags="travel,UgandaPearl,TravelToUganda"
                  twitter-user="vuejs"
                  inline-template>
  <div>
  
    <v-btn icon>
    <network network="email">
      <i class="fa fa-envelope"></i> <v-icon color="#000000">mdi-email</v-icon>
  </network>
        </v-btn>
 
    <v-btn icon>
     <network network="facebook">
    <i class="fa fa-facebook"></i>  <v-icon color="blue">mdi-facebook</v-icon>
  </network>
        </v-btn>
  
    <v-btn icon>
    <network network="googleplus">
    <i class="fa fa-google-plus"></i>  <v-icon color="red">mdi-google-plus</v-icon>
  </network>
        </v-btn>
 
   <v-btn icon>
     <network network="linkedin">
    <i class="fa fa-linkedin"></i> <v-icon color="blue">mdi-linkedin</v-icon>
  </network>
        </v-btn>


 

  <v-btn icon>
   <network network="pinterest">
    <i class="fa fa-pinterest"></i>  <v-icon color="red">mdi-pinterest</v-icon>
  </network>
  
        </v-btn>
  
    <v-btn icon>
    <network network="twitter">
    <i class="fa fa-twitter"></i> <v-icon color="blue">mdi-twitter</v-icon>
  </network>
        </v-btn>
  
    <v-btn icon>
    <network network="weibo">
    <i class="fa fa-weibo"></i> <v-icon color="red">mdi-weibo</v-icon> 
  </network>
        </v-btn>
  
  <v-btn icon>
          <network network="whatsapp">
            <i class="fa fa-whatsapp"><v-icon color="green">mdi-whatsapp</v-icon></i> 
          </network>
        </v-btn>
  </div>
  </social-sharing>
  </div>

</template>
<script>
export default{
  name:"SocialSharing",
}
</script>
<style>
</style>
