<template lang="pug">

section
  h1 Cart
  ul(v-for='item of items', :key='item.id' v-if=('item.isReserved'))
    li
      p {{item.Product_tag}}
      img(:src='item.Product_image' alt="lingerie" class="chipresponsive")
      button(@click.prevent='removeItem(item.id)'
      class="checkbutton"
      ) remove from cart
      p ${{item.Product_price}}



      form(method='POST'  )
            div.form-group
              label(for='name') Name:
              input#name.form-control( class='input1' type='text', placeholder='first and last' name='name')
            div.form-group
              label(for='email') Email:
              input#email.form-control(class='input2' type='email', placeholder='name@email.com' name='email')
            div.form-group
              label(for='PhoneNumber') Phone Number:
              input#PhoneNumber.form-control(class='input3' type='text', placeholder='PhoneNumber' name='PhoneNumber')

            button.btn.btn-primary(class='buttonorder' type='submit') PlaceOrder

</template>

<script>
import { mapMutations, mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({ loadedItems: 'items/items' }),
    items() {
      return this.loadedItems
    }
  },
  async fetch({ store }) {
    if (store.getters['items/items'].length === 0) {
      await store.dispatch('items/fetch')
    }
  },
  methods: {
    ...mapMutations({ removeFromCart: 'items/removeFromCart' }),
    removeItem(id) {
      this.removeFromCart(id)
    }
  }
}
</script>
<style>
.checkbutton {
transition-duration: 0.4s;
border-radius: 4px;
background-color: #4CAF50; /* Green */
color: white;
font-size: 6px;
padding: 20px 12px;
}

.chipresponsive {
  width: 20%;
  height: auto;
}
.input1 {
  width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    background: transparent;
}
.input2 {
  width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    background: transparent;
}
.input3 {
  width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    background: transparent;
}
.buttonorder {
  position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}
.buttonorder:hover{
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

</style>
