body{
  font-family: 'Quicksand', sans-serif;
}
div{
  font-family: 'Quicksand', sans-serif;
}
h1,

h2{
  font-family: 'Quicksand', sans-serif;
}
.p{
  font-family: 'Quicksand', sans-serif;
}
span{
  font-family: 'Quicksand', sans-serif;
}
h4{
 font-family: 'Quicksand', sans-serif;
}

