<template>
  <div class="centercbtn">
    <v-dialog
      v-model="dialog"
      width="500px"

    >
      <template v-slot:activator="{ on }">

        <v-btn
          color="green"
          v-on="on"
          fixed
          icon
        >

        <v-badge
          color="red"
          overlap
        >
        <template slot="badge">
          1
        </template>

        <v-icon >mdi-basket</v-icon>
        </v-badge>

        </v-btn>
      </template>

      <v-card color="#000000" class="rounded-card">

        <v-card-title
          class="headline black"
          primary-title
        >
          Quick Checkout
        </v-card-title>



        <!--realdeal-->
        <cartcard></cartcard>


        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="green"
            text
            @click="dialog = false"
            to="/checkout"
          >
            Check Out
          </v-btn>
          <v-btn
            color="green"
            text
          >
          <a href="/shop">Shop-Discounts</a>

          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import cartcard from '~/components/cartcard.vue'
import { mapGetters } from 'vuex'

export default {
  components:{cartcard,},
  data () {
    return {
      dialog: false,

    }
  },
}

</script>

<style>
.rounded-card{
    border-radius:10px;
}
.centercbtn{
  float:right;
  position: relative;
  left:-100%;
  text-align:left;
  z-index:15;
}
</style>
