<template>
  <v-app style="background: #ffffff">
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
      color="#000000"
    >
      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
        <a href="/"><v-list-item-title v-text="item.title" /></a>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      :clipped-left="clipped"
      fixed
      app
      color="#000000"

    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-btn
        icon
        @click.stop="miniVariant = !miniVariant"
      >
        <v-icon>mdi-{{ `chevron-${miniVariant ? 'right' : 'left'}` }}</v-icon>
      </v-btn>


   <v-toolbar-title v-text="title" />
      <v-spacer />
    </v-app-bar>
    <v-content>
      <v-container>
        <checkoutbutton></checkoutbutton>
        <nuxt />
      </v-container>
    </v-content>
    
      <v-footer
    dark
    padless
  >
    <v-card
      flat
      tile
      width="100%"
      class="grey darken-4 white--text text-center"
    >
      <v-card-text>
        <v-btn
          v-for="icon in icons"
          :key="icon"
          class="mx-4 white--text"
          icon
        >
        <a :href="icon.link">  <v-icon size="24px">{{ icon.title }}</v-icon></a>

        </v-btn>
      </v-card-text>

<newsletter></newsletter>

      <v-divider></v-divider>

      <v-card-text class="white--text">
        {{ new Date().getFullYear() }} — <strong>WineGarage</strong>
      </v-card-text>
    </v-card>
  </v-footer>

    
  </v-app>
</template>

<script>
import checkoutbutton from './checkoutbutton.vue'
import newsletter from '~/components/newsletter.vue'
export default {
  data () {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      items: [

        {
          icon: 'mdi-chart-bubble',
          title: 'Welcome',
          to: '/'
        },
        {
          icon: 'mdi-earth',
          title: 'Old is Gold',
          to: '/shop'
        },
        {
          icon: 'mdi-cart',
          title: 'Mobile-Shop',
          to: '/shop'
        },
        
      ],
      icons: [
      
          { id: '1', title: 'mdi-whatsapp',link:'' },
          { id: '2', title: 'mdi-twitter',link:'' },
          { id: '3', title: 'mdi-instagram',link:'' },
          { id: '4', title: 'mdi-facebook',link:'' }
          
          ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'WineGarage'
    }
  },
  components:{checkoutbutton,newsletter},
}
</script>
