<template>
  <v-flex black--text class="text-center">
    <div>
      <span class="tab">
        Our Story,
        <br />

  Orange Travels And Tours' success is built on our passion for Nature and the technology that connects us with you. Our expertise is based on firsthand travel in every destination that we recommend and because we are 100% independent, we only work with the best, tried-and-tested suppliers. We don't call our consultants Africa Safari Experts lightly - they earn this title through regular travel, intensive training and written examinations. Read more about joining Uganda’s leading safari company.

  Whether you want inspiration or information, you’ll find plenty of it right here.
  If you want to get to know us, talk to us. Don’t be shy if you’re a long way off from making a booking – we want to hear what excites you about going on safari. Being good listeners is at the heart of our old school approach to service: if we take the time to get to know you, we can tailor-make your vacation, filling it with extraordinary experiences and personal touches. That’s when we become your travel partner, the co-creators of a journey as individual as you are.

  We believe in going above-and-beyond because we know it makes all the difference to the moments and memories you'll treasure decades from today. It’s why we don’t sell one-size-fits-all tours or the cheapest deals in town. It’s why we provide 24-hour back up on every single day of your safari at no extra cost.

  Our travel community often asks for recommendations on giving back to the people and places they encounter on safari. There is a great deal of need in Africa, so we have chosen the two charitable categories that are closest to our hearts: conservation and community upliftment. Each year we set a goal to support on remarkable foundation - meet our current cause, Rhinos without Borders.
  <br />

  We won’t show you the world; we’ll show you Alkebulan - Uganda, better than anybody else!!!.

      </span>
      <br />
    <div>
      <socialsharing></socialsharing>
    </div>
    </div>
  </v-flex>

</template>

<script>
import socialsharing from '~/components/socialsharing.vue'
export default{
  components:{socialsharing,},
}
</script>
<style scoped>
.tab{
   text-indent:40px;
   text-align: center;
 }
</style>
